.evidence/template
.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta
node_modules/
.env
.sources/
build/
.DS_Store
sources/**/connection.options.yaml
skill.md
